version: 2
updates:
- package-ecosystem: gomod
  directory: "/"
  schedule:
    interval: "weekly"
    day: "monday"
    time: "06:00"
- package-ecosystem: docker
  directory: "/"
  schedule:
    interval: "weekly"
    day: "monday"
    time: "06:00"
- package-ecosystem: "github-actions"
  directory: "/"
  schedule:
    interval: "weekly"
    day: "monday"
    time: "06:00"
